# See https://www.dartlang.org/guides/libraries/private-files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.swp
*~
.DS_Store
*.log
*.tmp
*.temp